.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
}

.subtitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
  font-style: italic;
  text-decoration-thickness: 5px;
}

.name {
  text-align: center;
  font-weight: 100;
}

.CCR {
  text-decoration: underline;
  text-decoration-color: red;
}

.about {
  margin: 10px;
  border: 3px double black;
  padding: 5px;
  height: 50%;
}

.projects {
  margin: 10px;
  border: 3px double black;
  padding: 5px;
}

img {
  border: 3px double black;
  width: 50%;
}

.img {
  border: 3px double black;
  margin: 3px;
  width: 50%;
}

.img1 {
  width: 51%;
}

a {
  color: black;
}

.dark {
  float: right;
  margin-top: 5px;
}

.btn {
  position: relative;
}

.btn.btn-slide-light::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgb(77, 76, 76);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-slide-light:hover::before,
.btn.btn-slide-light:focus::before {
  transform: scaleX(1);
}

.btn.btn-slide-light {
  z-index: 1;
}

.btn.btn-slide-dark::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgb(85, 82, 82);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-slide-dark:hover::before,
.btn.btn-slide-dark:focus::before {
  transform: scaleX(1);
}

.btn.btn-slide-dark {
  z-index: 1;
}

h5 {
  text-decoration: underline;
}